h1{
    text-align: center;
    margin: auto;
}


head.logo{
    float: left;
    margin: 0;
    position: absolute;
    padding: 0;
}

nav ul{
    list-style-type: none;
    overflow: hidden;
    background-color: lightgray;
    height: 50px;
    margin: 0;
    padding: 0;

}
nav li{
    float: left;
    border-right: 1px solid;


}
li a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 16px 16px;
}
li a:hover:not(.active){
    background-color: rgb(66, 63, 63);
    color: white;
}
.active{
    background-color: rgb(66, 63, 63);
    color: white;
}
main div{
    flex-direction: column;
    columns: 4 auto;
    
}
article img{
    max-height: 100px;
    float: left;
    margin:2px;
    
    
}
header{
    align-items: center;
    display: flex;
    justify-content:space-between;
    
}